<form method="POST" action="/adduser">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">TK</label>
        <input type="input" class="form-control" name="TK" />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="input" class="form-control" name="MK" />
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Email</label>
        <input type="input" class="form-control" name="Email" />
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Quyền</label>
        <input type="input" class="form-control" name="Quyen" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>